.microBanner{
    background-color: var(--babyBlue);
    display: flex;
}
.banner{
    width: 50%;
    max-height: 500px;
    object-fit: cover;
    
}
.textContainer {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 64px 16px;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    color: black;

}