.microBanner {
    position: relative;
    width: 100%;
    height: fit-content;

    @media(min-width:800px) {
        display: flex;
    }
}


.banner {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 10 / 8;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media (min-width:800px) {
        width: 50%;
    }
}

.textContainer {
    align-items: center;
    aspect-ratio: 10 / 8;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    justify-content: center;
    order: 1;
    padding: 16px;
    position: relative;
    text-align: center;
    text-wrap: balance;
    width: 100%;

    h2 {
        font-size: clamp(30px, 3.5vw, 36px);
    }

    p {
        font-size: clamp(16px, 2.5vw, 24px);
    }

    @media(min-width: 800px) {
        width: 50%;
    }

}