.container {
    padding: 16px;
    text-align: center;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 100%;
}

.imgContainer {
    height: calc(100vw - 32px);
    position: relative;
    width: calc(100vw - 32px);
}

.img {
    height: 100%;
    width: 100%;
}