.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.title {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
}

.price {
    text-align: right;
}

.imgContainer {
    border-bottom: 4px solid var(--primaryColor);
    border-left: 4px solid var(--primaryColor);
    border-radius: 8px;
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;

    img {
        object-fit: cover;
    }
}