.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.container:hover .title,
.container:active .title,
.container:focus .title {
    text-decoration: underline;
}

.title {
    font-family: var(--headerFont);
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 44px;
    display: -webkit-box;
    overflow: hidden;
}

.price {
    text-align: right;
}

.imgContainer {
    border-bottom: 4px solid var(--primaryColor);
    border-left: 4px solid var(--primaryColor);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: white;
    aspect-ratio: 7 / 9;

    img {
        object-fit: contain;
    }
}

.flag {
    position: absolute;
    background-color: var(--primaryColor);
    padding: 8px;
    border-radius: 8px 0 0 0;
    z-index: 1;
    color: white;
}

.sold {
    background-color: var(--primaryColor);
    color: white;
    padding: 8px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}