.newsletterField {
    display: grid;
    grid-template-columns: 3fr 1fr;

    input {
        grid-column: 1;
        height: 4rem;
        background-color: var(--lighterBlue);
        padding: 0.5rem;
        border: none;
    }

    button {
        font-family: var(--headerFont);
        grid-column: 2;
        background-color: var(--babyBlue);
        border: none;

    }

    button:hover {
        background-color: var(--yellow);
    }
}