.container {
    background-color: var(--babyBlue);
    padding: 0 30px;

    h2 {
        text-align: center;
        margin-bottom: var(--gap);

        padding: 1rem 0.5rem;
        background-color: var(--lighterPink);
        border: var(--overlayColor) 0.5rem solid;
        border-right: var(--primaryColor) 1rem solid;
        border-left: var(--primaryColor) 1rem solid;
        z-index: 10;
    }
}