// styles
.footer {
    background-color: #2F3945;
    padding: 1rem 0 1.5rem 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.address {
    padding: 1rem;
    color: white;

}

.community {
    padding: 1rem;
}

.socialMedia {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    padding: 1rem;
    margin: 1rem 0;
    color: white;
    align-items: center;
    border-top: 2px white solid;
    border-bottom: 2px white solid;

    p {
        text-align: center;
    }

    h3 {
        grid-column: 1 / span 2;
    }


    a:hover>.socialicon {
        color: var(--yellow);
        fill: var(--yellow);
        border-radius: 6px;
    }

}

.subscription {
    color: white;
    padding: 1rem;
    margin: 1rem 0;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 1rem;

    p {
        margin-bottom: 1rem;
    }
}

.legalese {
    display: flex;
    gap: 1rem;
    color: white;
    text-align: center;
    justify-content: center;
}

// breakpoints
$breakpoint-tablet: 760px;
$breakpoint-desktop: 1100px;

@media (min-width:$breakpoint-tablet) {
    .community {
        display: grid;
        gap: 1rem;
        align-items: center;
        grid-template-columns: 50% 50%;
    }

    .susbscription {
        color: white;
    }

}