.container {
    background-color: var(--blackText);
    color: white;
}

.content {
    display: grid;
    padding-top: 8px;
    padding-bottom: 8px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    p {
        text-align: center;
        grid-column: 2;
        text-wrap: balance;
    }

    svg {
        justify-self: end;
        grid-column: 3;
        width: 44px;
        height: 44px;
        cursor: pointer;
    }
}

.text {}