// Entire Nav Styles
.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 80px;

    @media(min-width: 768px) {
        display: none;
    }
}


.nav {
    // display: none;
    position: absolute;
    width: 100%;
    transition: all 300ms ease-in-out;
    max-height: 0px;
    overflow: hidden;
    pointer-events: none;
    background-color: var(--lighterPink);

    @media(min-width: 768px) {
        display: none;
    }

    &.active {
        max-height: calc(100dvh - 80px);
        overflow: auto;
        pointer-events: unset;
    }




    .link {
        .underline {
            text-decoration: underline;
        }

        a {
            display: inline-block;
            width: 100%;
            border-left: 4px solid var(--lighterPink);
            padding: var(--gap);

            &:hover,
            &.active {
                border-left: 4px solid var(--darkBlueStroke);
                background-color: var(--babyBlue);
                color: black;
            }
        }
    }
}

// Logo Styling
.imageContainer {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
    max-width: 80px;

    a {
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
    }

    &>img {
        object-fit: contain;
    }
}

// Cart
.cartLink {
    display: block;
    margin: 16px;

}

.cart {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linksSection {
    margin-top: 32px;

    h2 {
        color: black;
        padding-left: 16px;
        border-bottom: 3px solid black;
    }
}