:root {
    --primaryColor: #00a1e4;
    --darkAccent1: #670021;
    --blackText: #4D3D41;
    --headingColor: white;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    background-color: #bde0fe;
    font-size: 18px;
}

.container {
    padding: 24px;
    width: min(100%, 1280px);
    margin: 0 auto;
}

svg {
    height: 36px;
    width: 36px;
}

// Cart Styling
.cartContainer {
    display: flex;
    align-items: center;
    gap: 4px;
}