:root {
    --primaryColor: #FF6F91;
    --darkAccent1: #670021;
    --blackText: #4D3D41;
    --headingColor: white;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    font-size: 16px;
    font-family: var(--bodyFont);
    background-image: url("/images/background.webp");
}

.container {
    padding: 24px;
    width: min(100%, 1280px);
    margin: 0 auto;
}

svg {
    height: 36px;
    width: 36px;
}


// Type
h2 {
    font-family: var(--headerFont);
    font-size: 24px;
}

h3 {
    font-family: var(--subheadingFont);
    font-size: 20px;
}

// Cart Styling
.cartContainer {
    display: flex;
    align-items: center;
    gap: 4px;
}