:root {
    --blackText: #4D3D41;
    --gap: 16px;
    --headingColor: white;
    --overlayColor: #d65674db;
    --primaryColor: #FF6F91;

    --darkAccent1: #670021;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    // background: linear-gradient(0deg, var(--overlayColor), var(--overlayColor)), url("/images/background.webp");
    // background-attachment: fixed;
    font-family: var(--bodyFont);
    color: var(--blackText);
    font-size: 16px;
}

.container {
    margin: 0 auto;
    padding: var(--gap);
    width: min(100%, 1280px);
}

svg {
    height: 36px;
    width: 36px;
}

// Type
h2 {
    font-family: var(--headerFont);
    font-size: 24px;
}

h3 {
    font-family: var(--subheadingFont);
    font-size: 20px;
}

// Cart Styling
.cartContainer {
    align-items: center;
    display: flex;
    gap: 4px;
}

// Reususable Button

.button {
    background-color: var(--darkAccent1);
    border-bottom: var(--primaryColor) solid 4px;
    border-left: var(--primaryColor) solid 4px;
    border-radius: 10000px;
    font-family: var(--headerFont);
    font-size: 24px;
    font-weight: 700;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
}