.container {
    display: none;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @media(min-width: 768px) {
        display: flex;
    }
}

.nav {
    // background-color: red;
    height: 100%;
}

// Logo styling
.imageContainer {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
    max-width: 80px;

    a {
        display: block;
        position: relative;
        height: 100%;
        width: 100%;


    }

    &>img {
        object-fit: contain;
    }
}

.ul {
    display: flex;
    align-items: center;
    gap: 3rem;

    a:hover {
        color: white;
    }
}

// Dropdown

.dropContainer {
    position: relative;
    cursor: pointer;

    &:hover .dropContent,
    &:active .dropContent {
        display: block;
    }

}


.dropContent {
    display: none;
    color: black;
    min-width: 100%;
    max-width: fit-content;
    background-color: var(--lighterPink);
    position: absolute;

    a {
        border-left: 4px solid var(--lighterPink);
        text-wrap: nowrap;
        padding: 8px;
        display: inline-block;
        width: 100%;

        &:hover,
        &.active {
            border-left: 4px solid var(--darkBlueStroke);
            background-color: white;
            color: black;
        }
    }
}

// Cart

.cart {
    display: flex;
    align-items: center;
}