.label {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.filterContainer {
    background-color: var(--greyBlue);
    color: var(--lighterBlue);
}

.filterDropDown{
    background-color: var(--yellow);
    margin-top: 1rem;
    padding: 6px;

}

