.label {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.filterContainer {
    // background-color: var(--darkBlueStroke);
    // color: var(--headingColor);
    border-top: 3px var(--darkBlueStroke) solid;
}

.filter{
    display: flex;
    gap: 1rem;
    justify-content: right;

}

.filterDropDown{
    display: inline-block;
    background-color: var(--yellow);
    padding: 6px;
    border-radius: 6px;
    width: 320px;
}

.filterDropDown > * {
    padding: 1rem;
}